{% extends 'base_temp.html' %}
{% block content_nav %}    
{% load static %}

    <section main>
        <link rel="stylesheet" href=" {% static 'css/home.css' %}">

        <div class="container">
            <!-- Page Heading -->
            <p class="welcome">Welcome to Crover {{request.user}}!</p>

            <div class="row">        
                <div class="sites_row">
                    <div class="sites_col">
                        <div class="site">
                            <div class="site_head">
                                Site 1
                                <!-- still to make changes to home.css
                                <div class="dropdown">
                                    <button class="dropbtn">...</button>
                                    <div class="dropdown-content">
                                        <p>details</p>
                                        <p>settings</p>
                                    </div>
                                </div>-->
                            </div> <!--
                            <div class="site_main">
                               
                               <div class=capacity>
                                   <a><p>capacity</p></a>
                                   <i class="fa fa-circle-o fa-3x" ></i></div></a> 
                                <div class=condition>
                                    <a><p>condition</p></a>
                                    <a><i class="fa fa-smile-o fa-3x" ></i></div></a> 
                            </div>-->
                        </div>
                    </div>
                    <div class="site">Site 2</div>
                    <div class="site">Site 3</div>
                </div>
            </div>

            <div class="row">
                <div class="notifications_row">
                    <div class="col">Recent Notifications</div>
                    <div class="col">Last User Access</div>
                </div>
            </div>
        </div>
            
    </section>

    <!--footer-->
    <section>
        <footer>
        <div class="container">
            <h2> Customer Support </h2>

            <div class = "foot">
                <div class=support><h1>Help</h1><i class="fa fa-info-circle fa-4x" ></i></div>
                <div class=support><h1>Call Us</h1><i class="fa fa-phone fa-4x"></i></div>
                <div class=support><h1>Open a ticket</h1> <i class="fa fa-exclamation-triangle fa-4x"></i></div>
                <div class=support><h1>Email Us</h1><i class="fa fa-envelope fa-4x"></i></div>
            </div>
        </div>
    </footer>
    </section>

{% endblock content_nav %}