{% extends 'base.html' %}
{% block content_nav %}      
{% load static %}

<head>
       <!-- Title Page-->
       <title>Manage user access</title>
</head>
<!-- PAGE CONTAINER-->
<div class="page-container">

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- DATA TABLE -->
                        <h3 class="title-5 m-b-35">Manage storage access</h3>
                        <div class="table-data__tool">
                            <div class="table-data__tool-left">
                                <div class="rs-select2--light rs-select2--md">
                                    <select class="js-select2" name="property">
                                        <option selected="selected">All Properties</option>
                                        <option value="">Option 1</option>
                                        <option value="">Option 2</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                                <div class="rs-select2--light rs-select2--sm">
                                    <select class="js-select2" name="time">
                                        <option selected="selected">Today</option>
                                        <option value="">3 Days</option>
                                        <option value="">1 Week</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                                <button class="au-btn-filter">
                                    <i class="zmdi zmdi-filter-list"></i>filters</button>
                            </div>
                            <div class="table-data__tool-right">
                                <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                    <select class="js-select2" name="type">
                                        <option selected="selected">Export</option>
                                        <option value="">.csv</option>
                                        <option value="">.pdf</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive table-responsive-data2">
                            <table class="table table-data2">
                                <thead>
                                    <tr>
                                        <th>Unit name</th>
                                        <th>Last Log-in</th>
                                        <th>Status</th>
                                        <th>Access</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tr-shadow">
                                        <td>Lori Lynch</td>
                                        <td>
                                            <span>2020-05-02 15:34</span>
                                        </td>
                                        <td>Manager</td>
                                        <td>Admin</td>
                                        <td>
                                            <button type="button" class="btn btn-success">
                                                <i class="fa fa-remove"></i>&nbsp; delete</button>
                                            <button type="button" class="btn btn-success">
                                                <i class="fa fa-align-justify"></i>&nbsp; modify</button>
                                        </td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td>Lori Lynch</td>
                                        <td>
                                            <span>2020-05-02 15:34</span>
                                        </td>
                                        <td>Manager</td>
                                        <td>Admin</td>
                                        <td>
                                            <button type="button" class="btn btn-success">
                                                <i class="fa fa-remove"></i>&nbsp; delete</button>
                                            <button type="button" class="btn btn-success">
                                                <i class="fa fa-align-justify"></i>&nbsp; modify</button>
                                        </td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td>Lori Lynch</td>
                                        <td>
                                            <span>2020-05-02 15:34</span>
                                        </td>
                                        <td>Manager</td>
                                        <td>Admin</td>
                                        <td>
                                            <button type="button" class="btn btn-success">
                                                <i class="fa fa-remove"></i>&nbsp; delete</button>
                                            <button type="button" class="btn btn-success">
                                                <i class="fa fa-align-justify"></i>&nbsp; modify</button>
                                        </td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td>Lori Lynch</td>
                                        <td>
                                            <span>2020-05-02 15:34</span>
                                        </td>
                                        <td>Manager</td>
                                        <td>Admin</td>
                                        <td>
                                            <button type="button" class="btn btn-success">
                                                <i class="fa fa-remove"></i>&nbsp; delete</button>
                                            <button type="button" class="btn btn-success">
                                                <i class="fa fa-align-justify"></i>&nbsp; modify</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- END DATA TABLE -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
{% endblock content_nav %}